<div id="errorContainer">
<%- include ("partials/messages.ejs") %>
</div>
<form id="formContainer" action="/playlist" method="POST">
    <input type="text" name="url" id="url" autocomplete="off" placeholder="Enter Youtube URL (e.g. https://youtu.be/2lAe1cqCOXo)">
    <button type="submit" class="btn btn-primary" id="add">Add</button>
    <a href="/users/logout" class="btn btn-secondary" id="logout">Logout</a>
</form>
<div id="video">
    <iframe 
        width="560" 
        height="315" 
        src="https://www.youtube.com/embed/<%= playlist[0].id %>"
        frameborder="0" 
        allow="accelerometer; 
        autoplay; 
        encrypted-media; 
        gyroscope; 
        picture-in-picture" 
        allowfullscreen>
    </iframe>
</div>
<h1 class="mt-4" id="title">My Playlist</h1>
<% if(playlist.length == 0) {%>
    <p id="emptyContainer">No playlists to display</p>
<% } else { %>
    <div id="itemContainer">
        <% for(let i=0; i<playlist.length; i++) { %>
            <div id="item">
                <div id="item-left">
                    <img src="<%= playlist[i].thumbnail %>" alt="">
                </div>
                <div id="item-right">
                    <h5 id="channelTitle"><%= playlist[i].channelTitle %></h5>
                    <p id="videoTitle"><%= playlist[i].title %></p>
                </div>
            </div>
        <% } %>
    </div>
<% } %>